//- 集成关于我们布局
extends ../../common/pages/about/about_layout.pug
block head
  title 团队介绍
//- 设置模板参数
block menu
  - var act =2
block about-content
  div.about-team-content
    p.title
      span 团队介绍
    div.photowrap.clearfix
      img(src=require('./imgs/0.png'))
      div.text
        p.header
          span.name 章瑞瑞
          span.job 董事长&CEO
        div.des
          p 曾就职于兴业全球基金，担任产品经理和深圳市场副总监，
          p 后在小牛资本担任资本地产项目总监，销售副总经理。
          p 2014年创立宁波坤九投资管理有限公司并担任董事长，累计参与管理资本规模超过200亿人民币，累计服务客户超过500家，遍布长江三角及珠三角地区，从业经验深厚。
    div.photowrap.clearfix
      img(src=require('./imgs/yangyang.png'))
      div.text
        p.header
          span.name 杨扬
          span.job 高级产品总监
        div.des
          p 上海交通大学
          p 9年互联网从业经验
          p 4年互联网产品管理经验
          p 曾就职于腾讯、诺亚、平安等知名公司
    div.photowrap.clearfix
      img(src=require('./imgs/zhong.png'))
      div.text
        p.header
          span.name 衷立杰
          span.job 互联网金融技术负责人
        div.des
          p 10年运营商、银行大型IT系统建设经验
          p 拥有丰富的解决方案与技术实践
    div.photowrap.clearfix
      img(src=require('./imgs/chai.png'))
      div.text
        p.header
          span.name 柴志新
          span.job 互联网金融运营负责人
        div.des
          p 先后任职于腾讯、银联、海尔等知名平台
          p 8年互联网市场营销及品牌搭建经验
    div.photowrap.clearfix
      img(src=require('./imgs/yifei.png'))
      div.text
        p.header
          span.name 潘一丁
          span.job 高级销售总监
        div.des
          p 电子科技大学管理学、工学学士
          p 8年上市商业银行工作经验，5年销售管理经验
          p 曾任职商业银行支行行长，区域总经理，擅长塑造狼性团队
    div.photowrap.clearfix
      img(src=require('./imgs/fawu.png'))
      div.text
        p.header
          span.name 刘飞
          span.job 法务总监
        div.des
          p 长安大学经济法硕士
          p 十年市政单位法务管理经验
    div.photowrap.clearfix
      img(src=require('./imgs/caiwu.png'))
      div.text
        p.header
          span.name 钟碧艳
          span.job 财务总监
        div.des
          p 浙江财经大学，CMA美国注册管理会计师
          p 近20 年财务管理经验，曾任多家大型公司财务负责人  
    p.title
      span 团队风采
    div.imglist.clearfix
      div.img-wrap
        img(src=require('./imgs/gr0.png'))
        div.des-content
          h4 风控团队
          span 团队成员包括了地产基金风控领域专家，股权投资领域专家，证券投资风险评估师等等。
      div.img-wrap
        img(src=require('./imgs/gr1.png'))
        div.des-content
          h4 法务团队
          span 与国内知名法律金融机构合作，专业律师团队覆盖全国主要城市，为您的财富运作保驾护航。
      div.img-wrap
        img(src=require('./imgs/gr2.png'))
        div.des-content
          h4 互联网团队
          span 产品、技术核心管理人员来自腾讯、阿里巴巴等知名互联网公司，平均拥有8年以上相关行业经验。
      div.img-wrap
        img(src=require('./imgs/gr3.png'))
        div.des-content
          h4 业务团队
          span 覆盖上海、杭州、宁波、南京等多个城市，未来将覆盖北上广深等全国重点城市，为用户提供更多优质资产。

    
