div.foot-nav-warp
  div.head-wrap
    div.contain
      img(src=require('./imgs/footer_icon1.png') alt='add')
      p.first （工作日9:30-18:30）
      p.second 400-999-9980
      p.third 领投鸟投资用户交流群：247441580
    div.contain
      div
        ul
          li.title 关于我们
          li
            a(href="/about/pltinfo" target="_blank") 平台介绍
          li
            a(href="/about/team" target="_blank") 团队介绍
          li
            a(href="/about/advantage" target="_blank") 品牌优势
          li
            a(href="/about/honor" target="_blank") 平台荣誉
          li
            a(href="/about/partner" target="_blank") 合作伙伴
        ul.vertical-align
          li.title 联系我们
          li
            a(href="/about/notice" target="_blank") 平台公告
          li
            a(href="/about/news" target="_blank") 媒体报道
          li
            a(href="/about/join" target="_blank") 加入我们
          li
            a(href="/about/contact" target="_blank") 联系我们
          li
            a(href="http://www.hongtanggroup.com/" target="_blank") 集团官网
        ul.vertical-align
          li.title 帮助中心
          li
            a(href="/other/newerguide" target="_blank") 新手指引
          li
            a(href='/help/aboutltn' target="_blank") 帮助中心
          li
            a(href='/other/actlist' target="_blank") 热门活动
        ul.vertical-align
          li.title 安全保障
          li
            a(href='/about/report' target="_blank") 运营报告
          li
            a(href='/about/protocol' target="_blank") 法律法规
          li
            a(href='/other/safeguards' target="_blank") 安全保障
    div.contain
      div.content
        img.icode(src=require('./imgs/code-app.png') alt='FootIcon1')
        p APP下载
        div.tip-contain(style='display:none')
          p.tips 客服邮箱：service@lingtouniao.com
        p.white-icon.email
          img(src=require('./imgs/footer_icon2.png') alt='FootIcon1')
          span 客服邮箱
      div.content
        img.icode(src=require('./imgs/code-weixin.png') alt='FootIcon1')
        p 微信公众号
        a.white-icon(href='http://weibo.com/u/5935757405')
          img(src=require('./imgs/footer_icon3.png') alt='FootIcon1')
          span 新浪微博
div.bottom-foot-wrap
  div.icons
    a.icons2(href="http://credit.szfw.org/CX20160524015311350170.html" target="_blank")
    a.icons3(href="http://www.sgs.gov.cn/lz/etpsInfo.do?method=index" target="_blank")
    a.icons4(href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank")
    a.icons5(href="http://sfia.org.cn/h/n/user/toDetailMermbersMainInfo?uId=2016072400000000077" target="_blank")
    a.icons6(href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.lingtouniao.com&amp;at=business" target="_blank")
    a.icons7(href="http://si.trustutn.org/info?sn=881160520000436261733" target="_blank")
    a.icons8(href="https://ss.knet.cn/verifyseal.dll?sn=e160523310104635708sr5000000&amp;pa=500267" target="_blank")
    a(href="http://www.cnzz.com/stat/website.php?web_id=1258037212" target="_blank")
  div.friend
    div.friend_top 友情链接：
      a(href="http://www.wdzj.com/dangan/ltnlc/" target="_blank") 网贷之家&nbsp;
      span |
      a(href="http://lingtouniao.p2peye.com/" target="_blank") 网贷天眼&nbsp;
      span |
      a(href="http://baike.baidu.com/item/领投鸟理财" target="_blank") 百度百科&nbsp;
      span |
      a(href="http://tieba.baidu.com/f?kw=%E9%A2%86%E6%8A%95%E9%B8%9F&amp;ie=utf-8" target="_blank") 百度贴吧&nbsp;
      span |
      a(href="http://mp.sohu.com/profile?xpt=cHBhZzI1NjRjY2RmOThmZkBzb2h1LmNvbQ==" target="_blank") 搜狐媒体&nbsp;
      span |
      a(href="http://weibo.com/u/5935757405?topnav=1&amp;wvr=6&amp;topsug=1" target="_blank") 新浪微博&nbsp;
      span |
      a(href="http://toutiao.com/m5784948163/" target="_blank") 今日头条&nbsp;
      span |
      a(href="http://www.lagou.com/gongsi/103258.html?m=1" target="_blank") 拉勾&nbsp;
      span |
      a(href="http://www.itjuzi.com/company/32856" target="_blank") IT桔子
    div.friend_bottom 公司地址：上海市金沙江路2145号普罗娜商务广场A栋7楼©2016 LINGTOUNIAO.COM 上海吾悠互联网科技服务有限公司版权所有
      a.except(href="http://www.miitbeian.gov.cn/") 沪ICP备15056137号
      span 市场有风险&nbsp;投资需谨慎
