//- 默认的布局
html(lang="zh")
  head
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title 领投鸟广场舞投票通道
  body
    div.squqre-dancing-pages
        div.banner
        div.wrap
            div.conten-one
                div.c-header 活动详情
                p.c-text 领投鸟联合宁波电视台共同举办的广场舞大赛已经完成激烈的现场角逐，现将通过网络投票结合评委打分共同产生16强总决赛团队，希望领投鸟平台老用户投出你们珍贵的一票，支持你们喜欢的舞队。
                div.code-list
                  div.item
                    img(src=require('./imgs/code0.jpg'))
                    p 下载APP投票
                  div.item
                    img(src=require('./imgs/code1.jpg'))
                    p 关注公众号投票
                div.c-header 活动流程
                div.process
                  img(src=require('./imgs/process.jpg'))
                div.step-content
                  div.step-one
                    p.title 
                      span.big 01
                      span ／投票时间
                    div.step-text 
                      p 入围决赛网络投票：11月10日  00:00——11月17日 12:00
                      p 网络最佳人气团队投票：11月17日——11月25日
                  div.step-one
                    p.title 
                      span.big 02
                      span ／活动规则
                    div.step-text 
                      p 1. 本次16强决赛晋级，采取评委打分及网络投票百分制形式。评委打分占比50%+投票占比50%，按总分由高到低排序前16名晋级总决赛。请登录投票页面了解更加详细得评分规则
                      p 2. 组委会有权根据投票票数情况，在科学合理的基础上对于算法公式及基数做出一定调整。
                div.c-header 活动奖励
                div.award-list
                  div.item
                    img(src=require('./imgs/icon0.jpg'))
                    p.big 一等奖
                    p (1个)
                  div.item
                    img(src=require('./imgs/icon1.jpg'))
                    p.big 二等奖
                    p (2个)
                  div.item
                    img(src=require('./imgs/icon2.jpg'))
                    p.big 三等奖
                    p (3个)
                div.award-intruduction
                  p.leve-one 网络最佳人气团队奖（1个）:
                  p.leve-two 云南六天五晚品质游及1888元现金
                  p.leve-thr 由进入半决赛的队伍中网络票数最高的团队获得。
                  p.level-four 舞台、掌声、大奖近在咫尺，赶紧秀出曼妙舞姿，做甬城灵魂舞者！
                p.footer 本活动最终解释权归领投鸟平台所有
                div.c-header 领投鸟简介
                div.slogin-pic
                  img(src=require('./imgs/slogin.jpg'))
                div.main-slgoin 
                  p 合规升级&nbsp;&nbsp;华瑞银行存管已签订&nbsp;&nbsp;资金流转透明
                  p 多重风控&nbsp;&nbsp;携手多家大数据征信&nbsp;&nbsp;全程安全保障
                  p 收益可观&nbsp;&nbsp;多维度甄选优质资产&nbsp;&nbsp;收益稳健安全      
