html(lang="zh")
  head
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel="shortcut icon", href="http://www.lingtouniao.com/html/img/favicon.ico", type="image/x-icon")
    title 银行存管
  body
    .depository-wrap
      .banner
        img(src=require('./imgs/banner.jpg') alt='banner')
        .over
          .left
            h3 更安全&nbsp;更省心
            p 资金由上海华瑞银行存管
          p.right 为了更好的保障投资用户的资金安全，领投鸟理财先后接洽了多家银行，在经过资金实力、技术支持、用户体验等多方考量后，最终选择上海华瑞银行作为资金存管合作银行。
      .process-wrap
        img(src=require('./imgs/process.jpg') alt="存管进程")
      .line-process-wrap
        img(src=require('./imgs/pre.png') alt="存管流程")  
      .depository-benefit-wrap
        .benefit-contain
          h3 银行存管优势
          .item
            img(src=require('./imgs/1.jpg') alt="资金隔离")
          .item
            img(src=require('./imgs/2.jpg') alt="流水清晰")
          .item
            img(src=require('./imgs/3.jpg') alt="拥抱监管")
      .why-choice-wrap
        h3 为什么选上海华瑞银行
        .item
          img.bg(src=require('./imgs/1-1.png') alt="高效")
          img.icon(src=require('./imgs/04.png'))
          p.light 高效
          p.text.fir 快速准入&nbsp;同步对接
        .item
          img.bg(src=require('./imgs/2-2.png') alt="灵活")
          img.icon(src=require('./imgs/05.png'))
          p.light 灵活
          p.text 支持多种业务场景&nbsp;多种对接模式
        .item
          img.bg(src=require('./imgs/3-3.png') alt="专业")
          img.icon(src=require('./imgs/06.png'))
          p.light 专业
          p.text 强大的技术实力&nbsp;极致的用户体验
      .foot-contain
        img(src=require('./imgs/lingtouniao.png') alt="领投鸟")
