//- 新手标详情介绍
mixin new
  .list
    span 产品描述
    span 新手标主要面向平台注册未投资用户，是领投鸟理财为投资人提供的本金自动循环出借及到期自动转让退出的理财工具。
  .list
    span 项目协议
    span
      a(href="http://www.lingtouniao.com/ltn-static/protocol/lcjhproduct" target="_blank") 《理财计划协议》
  .list
    span 保障方式
    span
      a(href="/other/safeguards#0") 《平台安全保障详解》

//- 体验标详情介绍
mixin tyb
  .list
    span 产品描述
    span 领投鸟体验标是为了使新注册的投资用户更快的了解平台投资流程，而打造的虚拟理财产品。投入后立刻获得收益，以鸟币形式付息，年化收益高达8%，既满足了小白用户对平台的了解，还可以获得相应利息。
  .list
    span 项目协议
    span
      a(href="http://www.lingtouniao.com/ltn-static/protocol/tyb" target="_blank") 《体验标投资协议》
  .list
    span 保障方式
    span
      a(href="/other/safeguards#0") 《平台安全保障详解》
  .list
    span 投资期限
    span 1天
  .list
    span 到账时间
    span 立即到账，本金收回，利息以鸟币的方式返回到您的账户。
  .list
    span 费用说明
    span 注册体验金投资，不收取任何费用。
    
//- 理财计划详情介绍
mixin finPlan
  .list
    span 产品描述
    span 理财计划是领投鸟理财提供的一项高效便捷的自动投资服务。您通过领投鸟平台加入理财计划后，系统会根据您的申请，匹配符合您要求的项目并自动购买完成投资，不仅为用户提供快捷的投资体验，还能实现方便的资产管理，投资更有规划。
  .list
    span 项目描述
    span 理财计划所对接的项目，都是经过领投鸟理财资产端战略合作伙伴严格风控及领投鸟风控部门二次风控审核的优质项目，计划资金主要用于符合监管要求的小额场景消费分期资产等。
  .list
    span 借款用途
    span 根据系统底层资产自动匹配到相应的借款中。
  .list
    span 还款来源
    span 借款用户工薪收入、交易收益或银行按揭放款等。
  .list
    span 项目协议
    span
      a(href="http://www.lingtouniao.com/ltn-static/protocol/lcjhproduct" target="_blank") 《理财计划协议》
  .list
    span 保障方式
    span
      a(href="/other/safeguards#0") 《平台安全保障详解》
  .list
    span 到账方式
    span  一次性还本付息。项目到期后1-3个工作日到账，资金直接转入理财账户。
    
//- 消费分期详情介绍
mixin xffq
  .list
    span 产品描述
    span 消费分期资产融资是在领投鸟风控保障体系下，经过严格的论证和实践运作，精心设计推出的产品。资金主要用于分期消费者的个人消费、房产装修、车位购买、教育培训、生育服务、医美整形、家具家居等消费需求，借款方资金需求合理，还款来源稳定可靠，且平台对借款方及担保方进行严格的背调审核，极大地降低了项目风险。
  .list
    span 项目描述
    span 本项目的消费分期资产来源于经领投鸟严格审核的资产端战略合作伙伴，合作伙伴对分期消费者进行甄选并承担逾期垫付责任。
  .list
    span 资金用途
    span 借款人借款主要用于分期消费。
  .list
    span 还款来源
    span 借款人工资收入或经营收入。
  .list
    span 到账时间
    span
      | 结息日期之后1-3个工作日内到账。
      br
      | 注:结息之后还款如遇法定节假日、公休日，因银行业务开展原因，则顺延至下一个工作日开始还款。
  .list
    p 风控审核项目
    ul.pic-contain
      li
        img(src=require('./imgs/card.png'))
        p 借款人身份证
      li
        img(src=require('./imgs/ht.png'))
        p 分期消费合同
      li
        img(src=require('./imgs/ht.png'))
        p 借款合同
      li
        img(src=require('./imgs/photo.png'))
        p 门店合影
    
//- 乐巢投详情介绍
mixin lct
  .list
    span 产品描述
    span 赎楼资产融资是在领投鸟风控保障体系下，经过严格的论证和实践运作，精心设计推出的产品。资金主要用于赎楼类需求，借款方资金需求合理，还款来源稳定可靠，且平台对借款方及担保方进行严格的背调审核，极大地降低了项目风险。
  .list
    span 项目描述
    span 本项目的资产来源于经领投鸟严格审核的资产端战略合作伙伴，合作伙伴对借款人进行甄选并承担逾期垫付责任。
  .list
    span 资金用途
    span 借款人借款主要用于房产赎楼等。
  .list
    span 还款来源
    span 借款人工资收入或经营收入。
  .list
    span 项目协议
    span
      a(href="http://www.lingtouniao.com/ltn-static/protocol/loan" target="_blank") 《借款协议》
  .list
    span 保障方式
    span
      a(href="/other/safeguards#0") 《平台安全保障详解》
  .list
    span 到账时间
    span
      | 结息日期之后1-3个工作日内到账。
      br
      | 注:结息之后还款如遇法定节假日、公休日，因银行业务开展原因，则顺延至下一个工作日开始还款。
  .list
    p 风控审核项目
    ul.pic-contain
      li
        img(src=require('./imgs/icon-2.png'))
        p 房屋买卖合同
      li
        img(src=require('./imgs/icon-1.png'))
        p 房产证
      li
        img(src=require('./imgs/icon-3.png'))
        p 银行批贷函
      li
        img(src=require('./imgs/icon-4.png'))
        p 赎楼服务合同
      li
        img(src=require('./imgs/icon-5.png'))
        p 个人征信报告
      
//- 供应链详情介绍
mixin gzg
  .list
    span 产品描述
    span 供应链融资是在领投鸟风控保障体系下，经过严格的论证和实践运作，精心设计推出的产品。资金主要用于央企、国企、上市公司等大型生产贸易企业与下游服务供应商的应收账款提前结算，借款方资金需求合理，上游还款企业经营利润率较高，还款来源稳定可靠，且平台对借款方严格背调审核，极大地降低了项目风险。
  .list
    span 项目描述
    span 该供应链的上游核心企业是浙江物产集团（A股上市系大型国有流通企业），对服务方（实际借款方）的应收账款结算时间固定。本次合作采用应收账款贴现方式，若未能按照借款合同约定按时还款，则全额代偿，且其法定代表人（实际控制人）提供共同担保。
  .list
    span 资金用途
    span 借款人借款主要用于供应链下游企业的资金结算。
  .list
    span 还款来源
    span 供应链上游核心企业的应收账款。
  .list
    span 到账时间
    span
      | 结息日期之后1-3个工作日内到账。
      br
      | 注:结息之后还款如遇法定节假日、公休日，因银行业务开展原因，则顺延至下一个工作日开始还款。
  .list
    p 风控审核项目
    ul.pic-contain
      li
        img(src=require('./imgs/gyl-1.png'))
        p 开户许可证
      li
        img(src=require('./imgs/gyl-2.png'))
        p 营业执照
      li
        img(src=require('./imgs/gyl-3.png'))
        p 增值税专用发票
      li
        img(src=require('./imgs/gyl-4.png'))
        p 供应链服务协议
      li
        img(src=require('./imgs/gyl-5.png'))
        p 客户尽调信息表
      li
        img(src=require('./imgs/gyl-6.png'))
        p 担保函
        
//- 信用宝详情介绍
mixin xyb
  .list
    span 产品描述
    span 信用宝是在领投鸟风控保障体系下，经过严格的论证和实践运作，精心设计推出的产品。领投鸟将经过战略合作伙伴审核通过的借款信息发布在平台上，平台作为交易撮合方、通过提供相关信息及服务协助投资人完成投资放款，同时战略合作伙伴承担逾期垫付责任。
  .list
    span 项目描述
    span 本项目的现金分期资产来源于经领投鸟严格审核的资产端战略合作伙伴，合作伙伴对现金分期借贷者进行甄选并承担逾期垫付责任。
  .list
    span 资金用途
    span 借款人借款主要用于临时资金周转。
  .list
    span 还款来源
    span 借款人工资收入或经营收入。
  .list
    span 到账时间
    span
      | 结息日期之后1-3个工作日内到账。
      br
      | 注:结息之后还款如遇法定节假日、公休日，因银行业务开展原因，则顺延至下一个工作日开始还款。
  .list
    p 风控审核项目
    ul.pic-contain
      li
        img(src=require('./imgs/card.png'))
        p 借款人身份证
      li
        img(src=require('./imgs/ht.png'))
        p 借款合同
      li
        img(src=require('./imgs/icon-5.png'))
        p 借款人征信报告
      li
        img(src=require('./imgs/phone.png'))
        p 手机号验证
      li
        img(src=require('./imgs/bank.png'))
        p 银行卡验证
      
//-国资供应链风控保障
mixin fb_gzg
  .list
    p.lit-title 业务流程：
    .content
      img(src=require('./imgs/gzg.jpg') alt="供应链金融流程图")
  .list
    p.lit-title 风险控制：
    .content
      p 1：对供应链上中下游合作模式进行调查及确认
      p 2：深入了解供应链上下游企业业务往来，并要求借款方提供业务往来证明
      p 3：对借款方进行严格的个人身份及信用信息调查审核
      p 4：对借款方企业进行企业信息审核
      p 5：资产端公司成立专职团队承担贷后跟踪管理、监督检查。
      p 6：借款方承诺按期足额还款， 担保方承担连带责任保证。
  .list
    p.lit-title 保障措施：
    .content
      p 借款方无条件归还借款本息，担保方承担连带责任保证。
      
//-消费分期风控保障
mixin fb_xffq
  .list
    p.lit-title 业务流程：
    .content
      img(src=require('./imgs/xffq.jpg') alt="消费分期金融流程图")
  .list
    p.lit-title 风险控制：
    .content
      p 1、对资产端战略合作伙伴进行企业信息审核与业务风控审核；
      p 2、对分期消费情况进行核查；
      p 3、对分期消费者进行核实；
      p 4、资产端合作伙伴对分期消费者进行甄选并承担逾期垫付责任。
    p.lit-title 保障措施：
    .content
      p 资产端战略合作伙伴承担逾期垫付责任。
      
//-信用宝风控保障
mixin fb_xyb
  .list
    p.lit-title 业务流程：
    .content
      img(src=require('./imgs/xyb.jpg') alt="信用宝金融流程图")
  .list
    p.lit-title 风险控制：
    .content
      p 1，对资产端战略合作伙伴进行企业信息审核与业务风控审核；
      p 2，对现金分期情况进行核查；
      p 3，对现金分期借贷者进行核实；
      p 4，资产端合作伙伴对现金分期借贷者进行甄选并承担逾期垫付责任；
    p.lit-title 保障措施：
    .content
      p 资产端合作伙伴承担逾期垫付责任。
      
//-乐巢投风控保障
mixin fb_lct
  .list
    p.lit-title 产品保障：
    .content
      img(src=require('./imgs/lct.png') alt="乐巢投金融流程图")
  .list
    p.lit-title 流程保障：
    .content
      p 资金来源是如何产生的？
      p 通过与大型金融机构合作，将能够产生稳定现金流的基础资产，兑换成优质消费金融资产。
      p 场景获客，注重用户体验：
      p 以家庭消费生活场景为核心，打造连接租住，装修，美容整形，生育等消费场景，为用户多线端的需求提供一站式的消费信贷体验。
      p 业务创新，贷前风控：
      p 通过自动化与高集成度的信用分数系统集中处理贷款申请，对客户进行贷款审批。担保方承担连带责任保证。
      p 贷后催收与不良资产处置：
      p 对贷后管理推出一站式互联网+不良资产处置方案，共同在不良资产全产业链资源的处置模式上进行全流程的服务。
  .list
    p.lit-title 业务风控：
    .content.center
      img(src=require('./imgs/lct0.png') alt="乐巢投金融流程图")
        
  //-理财计划风控保障
mixin fb_fin
  .list
    p.lit-title 流程保障：
    .content.center
      img(src=require('./imgs/fine.jpg') alt="理财计划金融流程图")
  .list
    p.lit-title 风险控制：
    .content
      p.vice-title 1.平台严格甄选资产端合作机构，对资产端合作机构进行全面的尽职调查。
      p 对资产端合作机构进行现场调研，以了解其实际经营情况，包括办公场所的现场核验，在岗人员访谈，业务系统演示等，以确信该机构经营正常，具备持续经营能力且发展良好；
      p 了解平台股权结构，高级管理人员履历，以确认其具有相应的成熟管理结构及相关经验，同时不存在管理层欺诈风险等；
      p 了解企业财务情况，关注在手货币资金、资产负债率、净利率等重要财务指标，关注其自身借款及或有负债，以确保其具备较强的财务实力。
      p.vice-title 2.资产端战略合作伙伴每笔业务严格风控，贷前、贷中、贷后全方位、多手段把控风险。
      p.vice-title 贷前：
      p 1.场景消费合作商户优质客户推荐，真实场景消费合同及相关证明验证，确保消费真实。
      p 2.申请人身份认证及活体识别认证，排除欺诈风险。
      p 3.申请人学历信息、工作信息、常住地、紧急联系人信息验证及电话确认，确保申请人信息真实。
      p 4.对接第三方征信及风险识别机构，对申请人进行信用评分、黑名单过滤、多头借贷查询、排除高风险人群。
      p 5.申请人个人信息授权查询，包括但不限于手机运营商信息、芝麻信用分、社保、公积金、学历、央行征信等，筛选出低风险优质客户。
      p 6.专业风控人员风控审核及复核，利用专业力量降低风险事件发生率。
      p.vice-title 贷中：
      p 1.分期申请合同电子保全及法律公证，防止合同丢失及篡改。
      p 2.消费分期款项放款至合作商户，确保资金流向。
      p 3.大额分期款项分批次放款，把控放款风险。
      p.vice-title 贷后：
      p 1.到期还款提醒及系统自动代扣，确保及时回款。
      p 2.贷后跟踪检查及逾期还款短信、电话提醒，及时处理风险。
      p 3.专业法务团队、催收团队，优质第三方外包催收合作伙伴，风险事件发生时使用合法手段降低整体逾期率及坏账率，提高催收成功率。
        
  //-新手标常见问题
mixin question_new
  .list
    h3 Q1：什么是新手标？
    p 新手标是领投鸟理财专为新手设计的投资标的，仅限在领投鸟理财平台上没有进行过任何投资的投资者。目前线上新手标只有一种，预期年化为15%，投资期限为7天，投资上限为5000。
  .list
    h3 Q2：新手标到期后收益如何？
    p 投资5000元新手标，那么到期后的收益为5000*15%/365*7=14.38，通过计算，5000元购买新手标，7天可获得14.38元的收益，每日收益高达得2.05元。
  .list
    h3 Q3：新手标是否可以使用返现券、加息券或者鸟币？
    p 领投鸟理财新手标不可使用任何券或者鸟币。
  .list
    h3 Q4：新手标投资金额有限制吗？
    p 新手标100元起投，上限为5000元
  .list
    h3 Q5：投资新手标后，到期了会自动返还吗？
    p 在领投鸟理财平台上的投资，到期后本息会自动返还至投资人的“账户中心-可用余额”里，可提现或再投资。
  .list
    h3 Q6：投资新手标后，没到期的时候可以提出来吗？
    p 新手标属于固定期限类理财产品，未到期时不可赎回。
  .list
    h3 Q7：提现有金额限制吗？
    p 领投鸟理财账户提现单日限额100万 。
  .list
    h3 Q8：领投鸟提现要不要手续费？
    p 一般提现每月有1次免费提现的机会，免提现机会用户每次提现扣除2鸟币，没有鸟币的情况下在提现金额中扣除2元人民币。快捷提现无免费提现机会，不可使用鸟币抵扣，只能从提现金额中扣除。
        
  //-体验标常见问题
mixin question_tyb
  .list
    h3 Q1：什么是体验标？
    p 领投鸟体验标是为了使新注册的投资用户更快的了解平台投资流程，而打造的虚拟理财产品。投资当日计息，到期后收回本金，利息归您，利息以鸟币的形式返回。投资时间为1天，年化收益高达8%，既满足了小白用户对平台的了解，还可以获得相应利息。
  .list
    h3 Q2：体验标投资有什么条件？
    p 体验标没有任何投资门槛，只要是注册用户。就可获得60000元体验金，使用这60000元体验金参与投资，到期后就可以获得相关的收益。 注：体验金参与投资所获得的收益以鸟币的方式进行发放。
  .list
    h3 Q3：什么是体验金券？
    p 体验金券用于投资领投鸟理财平台的新手体验标，尚未在领投鸟理财投资的用户，注册就能获得60000体验金券，体验金券进行投资掉，1天预计年化收益率为8%，到期可获得13.18鸟币。。
  .list
    h3 Q4：如何获得体验金券？
    p 注册即得60000元体验金券
  .list
    h3 Q5：体验金券的使用规则？
    p 首次注册用户，送60000体验金券，仅适用于体验标。
  .list
    h3 Q6：体验金券是否存在有效期？
    p 体验金券目前设置有效期为90天，以注册时间当日为起始时间。
  .list
    h3 Q7：如何查询体验金券？
    p 领投鸟理财用户成功登录领投鸟理财后，在“我的账户“--”理财金券“可以查看到您的体验金券。
        
  //-理财计划常见问题
mixin question_fin
  .list
    h3 Q1：什么是理财计划？
    p 理财计划是领投鸟理财为投资者提供的本金自动循环出借及到期自动转让退出的理财工具，充分提高资金利用效率，利息收益在理财期结束后一次性返还。 理财计划对应的借款均适用于100%本息保障。投向不同的资产。 理财计划产品安全稳健，收益稳定，最高可享12%年化收益。适用追求稳定高收益但理财时间少的人群。
  .list
    h3 Q2：我把钱借给了谁?
    p 可在项目详情中查看借款人信息和及对应资产，这里的借款人不只一个。
  .list
    h3 Q3：理财计划收益如何？
    p 我第一次充值后获得了58元的返现券，投资额达到10000元可使用。假如我投10000到90天期的理财计划产品， 那么到期后所获得的收益为10000*0.096/365*90+58=295,根据计算，到期可获得295元收益。
  .list
    h3 Q4：理财计划可以使用返现券、加息券或者鸟币吗？
    p 在您的账户中如果有返现券、加息券和鸟币的前提下， 理财计划产品是可以使用返现券、加息券和鸟币的，但是返现券和加息券是不可以叠加使用的。鸟币和返现券和加息券中的一种叠加使用
  .list
    h3 Q5：投资理财计划有金额限制吗？
    p 理财计划1000元起投，无上限
  .list
    h3 Q6：投资理财计划后，到期了会自动返还吗?
    p 在领投鸟理财平台上的投资，到期后本息会自动返还至投资人的“我的账户-可用余额”里，可提现或再投资。
  .list
    h3 Q7：投资理财计划后，没到期的时候可以提出来吗？
    p 理财计划属于固定期限类理财产品，未到期时不可赎回。
  .list
    h3 Q8：提现有金额限制吗？
    p 领投鸟理财账户提现单日限额100万 。
    
//-消费分期常见问题
mixin question_xffq
  .list
  h3 Q1：什么是消费分期产品？
  p 消费分期资产融资是在领投鸟风控保障体系下，经过严格的论证和实践运作，精心设计推出的产品。资金主要用于分期消费者的个人消费、房产装修、车位购买、教育培训、生育服务、医美整 形、家具家居等消费需求， 借款方资金需求合理，还款来源稳定可靠，且平台对借款方及担保方进行严格的背调审核，极大地降低了项目风险。
  .list
  h3 Q2：消费分期产品可以使用返现券、加息券或者鸟币吗？?
  p 通常情况下可以使用，具体以每个标的为准。
  .list
  h3 Q3：消费分期产品投资有金额限制吗？
  p 消费分期产品1000元起投，无上限
  .list
  h3 Q4：投资消费分期产品后，没到期的时候可以提出来吗？
  p 消费分期产品属于固定期限类理财产品，未到期时不可赎回。
    
//-乐巢投常见问题
mixin question_lct
  .list
  h3 Q1：什么是乐巢投？
  p 乐巢投是领投鸟理财精心推出的精品散标，以二手房赎楼业务为主，对接每一笔经过严格风控和银行审批的赎楼业务。实现真正短期标，理财0风险，安全透明，产品期限5-45天，最高可享12%年化收益。
  .list
  h3 Q2：我把钱借给了谁？
  p 可在“账户中心-投资记录”tab页中的投资协议中查看。
  .list
  h3 Q3：乐巢投收益如何？
  p 首笔充值会获得58元返现券，那么投资30天的了乐巢投产品到期后收益为：10000*0.09/365*30+58=132.根据计算，到期可获得132元收益。
  .list
  h3 Q4：乐巢投可以使用返现券、加息券或者鸟币吗？
  p 在您的账户中如果有返现券、加息券和鸟币的前提下，乐巢投产品是可以使用返现券、加息券和鸟币的，但是返现券和加息券是不可以叠加使用的。鸟币和返现券和加息券中的一种叠加使用。具体视标的是否做了相应的限制。
  .list
  h3 Q5：投资乐巢投有金额限制吗？
  p 乐巢投1000元起投，无上限
  .list
  h3 Q6：投资乐巢投后，到期了会自动返还吗？
  p 在领投鸟理财平台上的投资，到期后本息会自动返还至投资人的“我的账户-可用余额”里，可提现或再投资。
  .list
  h3 Q7：投资乐巢投后，没到期的时候可以提出来吗？
  p 乐巢投属于固定期限类理财产品，未到期时不可赎回。
  .list
  h3 Q8：提现有金额限制吗？
  p 领投鸟理财账户提现单日限额100万。
  .list
  h3 Q9：领投鸟提现要不要手续费？
  p 一般提现每月有1次免费提现的机会，免提现机会用户每次提现扣除2鸟币，没有鸟币的情况下在提现金额中扣除2元人民币。快捷提现无免费提现机会，不可使用鸟币抵扣，只能从提现金额中扣除。

//-供应链常见问题
mixin question_gyl
  .list
  h3 Q1：什么是供应链融资产品？
  p 供应链融资是在领投鸟风控保障体系下，经过严格的论证和实践运作， 精心设计推出的产品。 资金主要用于央企、国企、上市公司等大型生产贸易企业与下游服务供应商的应收账款提前结算， 借款方资金需求合理，上游还款企业经营利润率较高，还款来源稳定可靠， 且平台对借款方严格背调审核，极大地降低了项目风险。
  .list
  h3 Q2：供应链融资产品可以使用返现券、加息券或者鸟币吗？
  p 通常情况下可以使用，具体以每个标的为准。
  .list
  h3 Q3：供应链融资产品投资有金额限制吗？
  p 供应链融资产品1000元起投，无上限。
  .list
  h3 Q4：投资供应链融资产品后，没到期的时候可以提出来吗？
  p 供应链融资产品属于固定期限类理财产品，未到期时不可赎回。

//-信用宝常见问题
mixin question_xyb
  .list
  h3 Q1：什么是信用宝？
  p 信用宝是在领投鸟平台风控保障体系下，经过严格的论证实践和全方位背景调查推出的创新产品。领投鸟将经过战略合作伙伴审核通过的借款信息发布在平台上， 平台作为交易撮合方协助投资人完成投资放款，同时通过合作伙伴承担逾期垫付责任确保借款人按时足额还款。
  .list
  h3 Q2：信用宝可以使用返现券、加息券或者鸟币吗？
  p 此项目为超短期借款产品，不可以使用，具体以每个标的为准。
  .list
  h3 Q3：信用宝产品投资有金额限制吗？
  p 信用宝产品100元起投，投资暂无上限。
  .list
  h3 Q4：投资信用宝产品后，没到期的时候可以提出来吗？
  p 信用宝产品属于超短期固定期限类产品，且分散到数百位借款人，未到期时无法赎回。
